<% @transactions.each do |transaction| %>
<% if transaction.id == @id  %>
  <tr>
    <td class="date"><%= transaction.transaction_date %></td>
    <td class="merch"><%= transaction.merchant %></td>
    <td class="tag"><%= transaction.tag %></td>
    <td class="trans"><%= transaction.reference %></td>
    <td class="amount"><%= transaction.amount %></td>
<div class="DELETE">
    <td class="edit">
    <form method="post" action="/transactions/<%= transaction.id %>/delete">
      <input type="image" src="/images/delete.png" class="delete_img">
    </form></td>
  </tr>
</div>
<div class="EDIT">
  <form method="post" action="/transactions/<%= transaction.id %>">
    <tr>
      <td>
        <input type="date" name="transaction_date" value="<%= transaction.transaction_date_object %>"></td>
      <td>
        <select name="merchant_id" id="merchant_select" selected="<%= transaction.merchant_id  %>">
          <% @merchants.each do |merchant| %>
            <% if merchant.id == transaction.merchant_id %>
              <option value=<%= merchant.id %> selected><%= merchant.name %></option>
            <% else %>
              <option value=<%= merchant.id %>><%= merchant.name %></option>
            <% end %>
          <% end %>
        </select></td>
      <td>
        <select name="tag_id" id="tag_select" selected="<%= transaction.tag_id  %>">
          <% @tags.each do |tag| %>
            <% if tag.id == transaction.tag_id %>
              <option value=<%= tag.id %> selected><%= tag.name %></option>
            <% else %>
              <option value=<%= tag.id %>><%= tag.name %></option>
            <% end %>
          <% end %>
        </select></td>
      <td>
          <input type="text" name="reference" id="reference" value="<%= transaction.reference %>"/></td>
      <td>
          <input type="number" name="amount" id="amount" value="<%=transaction.amount %>"/></td>
      <td>
        <div class="edit_tran">
          <input type="image" src="/images/update.png" class="img2">
        </div></td>
    </tr>
  </form>
</div>
  <% else  %>
  <tr>
    <td class="date"><%= transaction.transaction_date %></td>
    <td class="merch"><%= transaction.merchant %></td>
    <td class="tag"><%= transaction.tag %></td>
    <td class="trans"><%= transaction.reference %></td>
    <td class="amount"><%= transaction.amount %></td>
    <td class="edit"><a href="/transactions/<%= transaction.id  %>/edit"><img src="/images/edit.png" class="icon"></a></td>
  </tr>
  <% end  %>
<% end %>
