<h2>Transactions</h2>

<div class="SAVE">
  <form method="post" action="/transactions" class="new_trans">
    <table>
      <tr>
        <td>
            <label for="transaction_date">date:</label>
            <input type="date" name="transaction_date" value="<%= Date.today %>">
        </td>
        <td></td>
        <td></td>
        <td>
            <label for="merchant_select">Merchant:</label>
            <select name="merchant_id" id="merchant_select">
              <% @merchants.each do |merchant| %>
              <option value=<%= merchant.id %>><%= merchant.name %></option>
              <% end %>
            </select>
        </td>
        <td></td>
        <td></td>
        <td>
            <label for="tag_select">Tag:</label>
            <select name="tag_id" id="tag_select">
              <% @tags.each do |tag| %>
              <option value=<%= tag.id %>><%= tag.name %></option>
              <% end %>
            </select>
        </td>
        <td></td>
        <td></td>
        <td>
            <label for="reference">Reference:</label>
            <input type="text" name="reference" id="reference"/>
        </td>
        <td></td>
        <td></td>
        <td>
            <label for="amount">Amount:</label>
            <input type="number" name="amount" id="amount"/>
        </td>
        <td></td>
        <td></td>
        <td>
          <div class="add">
            <input type="submit" value="Add" />
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>

<br>
<br>
<table>
  <tr class="head">
    <th>Date</th>
    <th>Merchant</th>
    <th>Label</th>
    <th>Reference</th>
    <th>Amount</th>
    <th></th>
  </tr>

<div class="SHOW_ALL">
  <% @transactions.each do |transaction| %>
    <tr>
        <td class="date"><%= transaction.transaction_date %></td>
        <td class="merch"><%= transaction.merchant %></td>
        <td class="tag"><%= transaction.tag %></td>
        <td class="trans"><%= transaction.reference %></td>
        <td class="amount"><%= transaction.amount %></td>
        <td class="edit"><a href="/transactions/<%= transaction.id  %>/edit"><img src="/images/edit.png" class="icon"></a></td>
    </tr>
  <% end %>
</div>
</table>
