<h2>Transactions</h2>

<div>
  <% @transactions.each do |transaction| %>

  <div>
    <p><%= transaction.transaction_date %></p>
    <p><%= transaction.merchant %></p>
    <p><%= transaction.tag %></p>
    <p><%= transaction.reference %></p>
    <p><%= transaction.amount %></p>
  </div>

  <hr/>
  <% end %>
</div>
